body{
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Top_bar{
    display: flex;
    justify-content: space-between;

}
.logu{
    height: 80px;
    margin: 12px 20px;
}

.Sign_IN{
    align-self: center;
    background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    margin-right: 20px;
    margin-top: 5px;
    color: white;
}

.text{
    font-size: 70px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    word-spacing: 10px;
    position: relative;
    top: 30px;
    z-index: 2;
    
}
.smalltext
{
    color: white;
    font-size: 23px;
    text-align: center;
    position: relative;
    top: 13px;
}
.button_parent{
    display: flex;
    justify-content: center;
}
.finishup{
    background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 15px;
    color: white;
    font-size: 24px;
    position: relative;
    top: 12px;
}

.trending_section{
  background-color: black;
  height: 100vh;
  overflow: visible;
  position: relative;
  top: -30px;
}
h2{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 60px;
    font-style: normal;
}
.horizontally_center{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}
.Film_Images{
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none;
    
}
.Film_Images img{
    width: 160px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;  
}
.Film_Images img{
    transition:transform 0.2s linear 0s;
}
.Film_Images img:hover{
    transform: scale(1.2);
}
.more_text{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 60px;
}
.stickers{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.sticker_box{
    position: relative;
    top: 25px;
    width: 220px;
    height: 250px;
    background: linear-gradient(to bottom right, #333055, #351d38);
    border-radius: 10px;
}